# MacOS Files
.DS_Store

# IntelliJ files
.idea

# Virtualenv
venv/
.venv/

__pycache__
uploads

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

#
